<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="login_container flex">
        <div class="container flex">
            <div class="clgimg">
                <img src="./images/clg.png" alt="iit">
            </div>
            <div class="form_fields ">
               <form action="#">
                  <div class="fields ">
                    <label for="clgname">Clg Name:</label>
                    <input type="text">
                  </div>
                  <div class="fields ">
                    <label for="clgname">Clg Name:</label>
                    <input type="text">
                  </div>
                  <div class="fields ">
                    <label for="clgname">Clg Name:</label>
                    <input type="text">
                  </div>
                  <div class="fields flex">
                    <button class="logInBtn">Register</button>
                  </div>
               </form>
               <p>Already have an account? <a href="#">Login Here</a></p>
            </div>
        </div>
    </section>
</body>
</html>